.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4545A5;
    border-radius: 15px;
    box-shadow: '0px 10px 20px 0px';
    overflow: hidden;
    max-height: 150px;
    max-width: 256px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap:10px;
  }
  
  .card-body {
    display: flex;
    background-color: #4545A5;
    height: 70px;
  }
  
  .left-section {
    flex: 1;
    padding: 20px;
    background-color: #4545A5;
  }
  .bottom-section{
    flex:1;
    background-color: #4545A5;
    margin-left: 18px;
    margin-bottom: 10px;
    max-height: 10px;
  }
  .bottom-right-section{
    flex:1;
    background-color: #4545A5;
    margin-left: 98px;
    margin-top: 20px;
    
  }
  
  .right-section {
    flex:0.5;
    background-color: #FFFFFF;
    padding: 4px;
    border-radius: 5px;
    max-height:50px;
    max-width: 48px;
    margin-right: 18px;
    margin-top: 18px;
    align-items: center;
  }
  .right-section1 {
    flex:0.5;
    background-color: #FFFFFF;
    padding: 4px;
    border-radius: 5px;
    max-height:50px;
    max-width: 48px;
    margin-right: 30px;
    margin-top: 18px;
    align-items: center;
  }
  .date{
    flex:0.5;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 8px;
  }
  .month{
    flex:0.5;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  .card-footer {
    display: flex;
    flex: 0.5;
    justify-content: space-between;
    background-color: #4545A5;
    margin-bottom: 15px;
    padding: 6px;
  }
  
  .left-section svg {
    height: 20px;
    width: 20px;
    padding: 0.5px;
  }
  
  button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
  }
  .Cards{
    display: flex;
    gap:10px;

  }
  .parentContainer{
    width: 100%;
  }
  .CompactCard{
    display: flex;
    flex:1;
    height: 7rem!important;
    border-radius: 0.7rem;
    color: white;
    position: relative;
    cursor: pointer;
    box-shadow: '0px 10px 20px 0px'!important;
  }
  .CompactCard:hover{
    box-shadow: none!important;
  }
  .parentContainer{
    width: 100%;
  }
  .ExpandedCard{
    width: 1044px;
    height: 674px!important;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    margin-top: 20px;
  }
  .card-header{
    padding: 16px;
    background-color: #4545A5;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 10px 10px 0px 0px;
    width: 1044px;
    height: 160px!important;
    color: #FFFFFF;
    
  }
  .options{
    display: flex;
    flex:0.5;
    border-radius: 0.7rem;
    background-color: transparent;
    cursor: pointer;
  }
  .opt-btn1{
    border-radius:  0px 0px 10px 10px;
    background-color:rgba(69, 69, 165, 0.1);
    width: 278px;
    height: 44px;
    margin-left: 200px;
  }
  .opt-btn2{
    border-radius:  0px 0px 10px 10px;
    background-color:rgba(69, 69, 165, 0.1);
    width: 287px;
    height: 44px;
    margin-left: 6px;
  }
  .cross{
    color: #FFFFFF;
    margin-left: 98%!important;
    
  }